<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>와인 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>와인이름</th>
                <th>와인이미지</th>
                <th>와인당도</th>
                <th>와인무게</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wine : ${wines}">
                <td><a href="wine.html" th:href="@{/{wineId}(wineId=${wine.Id})}" th:text="${wine.wineId}">와인id</a></td>
                <td><a href="wine.html" th:href="@{|/wines/${wine.wineId}|}" th:text="${wine.wineName}">와인이름</a></td>
                <td><a th:text="${wine.wineImg}">와인이미지</a></td>
                <td th:text="${wine.Sweet}">3</td>
                <td th:text="${wine.Body}">3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>